@tailwind base;
@tailwind components;
@tailwind utilities;

.homecontainer {
  display: flex;
  /* border: 2px solid black; */
  align-items: center;
  justify-content: space-between;

}

.childcontainer {
  background-color: aqua;
  width: fit-content;
  /* height: 250px; */
 
  /* border: 2px solid black; */
  margin: 40px auto;
  font-size: 80px;
  font-weight:900;
}

.childcontainer img {
  border-radius: 50px;
}

.pinkcolor {
  color: deeppink;
}

